# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
backend/firebase-key.json
node_modules

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Optional: Docker
docker-compose.override.yml
